.App {
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.App p {
  font-family: "Garamond", "Times New Roman", "Times", "Georgia", "Palatino",
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  max-height: 500px;
  max-width: 80vw;
}

.box {
  background: #ced9e0;
  padding: 20px;
  border-radius: 5px;
}

.box.dark {
  background: #394b59;
}

body {
  padding-top: 50px;
}
.bookcard {
  height: 250px;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 200px;
  column-gap: 10px;
}

.bookcard-main {
  /* overflow: hidden; */

  display: grid;
  grid-template-areas: "title" "description" "formats" "details";
  grid-template-rows: 63px 1fr 20px 20px;
  row-gap: 10px;
}

.book-heading {
  grid-area: title;
}

.book-formats {
  grid-area: formats;
}

.book-description {
  grid-area: description;
}

.book-details {
  grid-area: details;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: flex-end;
}

.book-detail-row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-template-columns: repeat(3, auto) 1fr;
  /* display: flex; */
}

.bookcard-secondary {
  display: flex;
}

.view {
  max-width: 800px;
  margin: auto;
}

.view-wrapper {
  min-width: 100vw;
  padding: 20px 10%;
  min-height: 100vh;
}
@media screen and (max-width: 500px) {
  .bookcard {
    height: 100%;
    grid-template-columns: unset;

    grid-template-rows: auto auto;
  }

  .bookcard.compact.expanded {
    row-gap: 20px;
  }

  .bookcard-main {
    grid-template-areas: "title" "formats";
    grid-template-rows: 63px 20px;
  }
}

@media screen and (min-width: 800px) {
  .bookcard {
    grid-template-columns: minmax(150px, 1fr) 250px;
  }
}
